<?xml version="1.0" encoding="UTF-8"?>
<WebSquare>
    
    <!--
        $THEME_PATH/skin/stylesheet_ext.css loading
    -->    
	<stylesheet value="" import="link" enabled="true"/>
    
    <!-- 
        processMsgURL  : Process message URL (default:/websquare/message/processMsg.html)

        <processMsgURL value="/websquare/message/processMsg.html"/>
    -->
    
    <grid>
			<rowMouseOverColor       value="#f6f3fa"/> 
			<selectedCellColor       value="#ede8f5"/>
            <selectedCellOverColor   value="#f6f3fa"/>
			<selectedRowColor        value="#ede8f5"/>
            <selectedRowOverColor    value="#f6f3fa"/>
			<tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#a98acb;color:#fff"/>
     </grid>
     <gridView>
            <rowMouseOverColor       value="#f6f3fa"/> 
            <selectedCellColor       value="#ede8f5"/>
            <selectedCellOverColor   value="#f6f3fa"/>
            <selectedRowColor        value="#ede8f5"/>
            <selectedRowOverColor    value="#f6f3fa"/>
            <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#a98acb;color:#fff"/>
     </gridView>	
    <input>
    </input>
    <inputCalendar>
			<useConfig value="true"/>
            <calendarImage value="theme/purple/images/inputCalendar/icon_calendar.gif" />
            <calendarImageOver value="theme/purple/images/inputCalendar/icon_calendar_over.gif" />
    </inputCalendar>
    <pageList>
    </pageList>
    <searchbox>
    </searchbox>
    <secret>
    </secret>
    <treeview>
    </treeview>
</WebSquare>