<?xml version="1.0" encoding="UTF-8"?>
<WebSquare>
    
    <!--
        $THEME_PATH/skin/stylesheet_ext.css loading
    -->    
	<stylesheet value="" import="link" enabled="true"/>
    
    <!-- 
        processMsgURL  : Process message URL (default:/websquare/message/processMsg.html)

        <processMsgURL value="/websquare/message/processMsg.html"/>
    -->
    
    <grid>
			<rowMouseOverColor       value="#f1f4f6"/> 
			<selectedCellColor       value="#e4e9ed"/>
            <selectedCellOverColor   value="#f1f4f6"/>
			<selectedRowColor        value="#e4e9ed"/>
            <selectedRowOverColor    value="#f1f4f6"/>
			<tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#859bbc;color:#fff"/>
     </grid>
     <gridView>
            <rowMouseOverColor       value="#f1f4f6"/> 
            <selectedCellColor       value="#e4e9ed"/>
            <selectedCellOverColor   value="#f1f4f6"/>
            <selectedRowColor        value="#e4e9ed"/>
            <selectedRowOverColor    value="#f1f4f6"/>
            <tooltipStyle value="padding:1px 3px 0;line-height:14px;font-size:12px;border:0;background-color:#859bbc;color:#fff"/>
     </gridView>	
    <input>
    </input>
    <inputCalendar>
			<useConfig value="true"/>
            <calendarImage value="theme/stealblue/images/inputCalendar/icon_calendar.gif" />
            <calendarImageOver value="theme/stealblue/images/inputCalendar/icon_calendar_over.gif" />
    </inputCalendar>
    <pageList>
    </pageList>
    <searchbox>
    </searchbox>
    <secret>
    </secret>
    <treeview>
    </treeview>
</WebSquare>